---
import { getCollection, type CollectionEntry } from 'astro:content';

import Carrousel from './Carrousel.astro';
import RoomCard from './RoomCard.astro';

type HabitacionEntry = CollectionEntry<'habitaciones'>;

const habitaciones = await getCollection('habitaciones');
const habitacionesOrdenadas = habitaciones.sort(
  (a: HabitacionEntry, b: HabitacionEntry) =>
    (a.data.order ?? 99) - (b.data.order ?? 99)
);
---

<section id="carrouselSection">
  <h2 class="subtitle">Conocé nuestras habitaciones</h2>

  <Carrousel>
    {
      habitacionesOrdenadas.map((hab) => {
        const { data, slug } = hab;
        const { roomType, srcRoomImage, summary } = data;

        return (
          <RoomCard
            roomType={roomType}
            srcRoomImage={srcRoomImage}
            href={`habitacion/${slug}`}
          >
            <p>{summary}</p>
          </RoomCard>
        );
      })
    }
  </Carrousel>
</section>

<style>
  #carrouselSection {
    text-align: center;
    padding-top: 2rem;
    background-color: var(--color-bg-accent);
  }

  .subtitle {
    margin-bottom: 1rem;
  }
</style>
