<footer>
  <div>
    <a href="https://maps.app.goo.gl/LPuocmak95aDSQzy9" target="_blank">
      Avda. Roque Sáenz Peña y Pellegrini - Junín / Buenos Aires / Argentina
    </a>
    <p>
      Reservas: Tel/fax: 0054 (0236) 4421437 - 4422183 Líneas rotativas: 4421433
    </p>
    <p class="desarrollador">Desarrollado por Grupo 15 - SI 2025 - UNNOBA</p>
  </div>
</footer>

<style>
  footer {
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 2px solid #2f1f5f;
  }

  div {
    text-align: center;
  }

  a {
    color: black;
    font-weight: normal;
  }

  .desarrollador {
    color: gray;
    margin-top: 0.5rem;
  }

  @media (max-width: 768px) {
    footer {
      padding: 0 2rem;
    }
  }
</style>
