---
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <slot />
    <Footer />
  </body>
</html>

<style is:global>
  :root {
    --color-primary: #626b9f;
    --color-dark: #2f1f5f;

    --color-bg-light: #fff;
    --color-text-light: #222;

    --color-bg-dark: var(--color-dark);
    --color-text-dark: #f0f0f0;

    --color-accent: #f3b95f;

    --header-height-initial: 6rem;
    --header-height-scrolled: 4rem;
  }

  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  html,
  body {
    margin: 0;
    width: 100%;

    font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  }

  .title {
    font-size: 3rem;
    margin-bottom: 1rem;
  }

  a {
    text-decoration: none;
  }

  a:hover {
    color: var(--color-primary);
  }

  .btn-outline {
    color: var(--color-dark);
    padding: 0.5rem;
    border: 2px solid var(--color-dark);
    border-radius: 5px;
    width: fit-content;
    margin-top: 1rem;
    display: block;
    transition:
      background-color 0.3s ease,
      color 0.3s ease;
  }

  .btn-outline:hover {
    background-color: var(--color-dark);
    color: var(--color-text-dark);
  }

  .btn-solid {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: 2px solid var(--color-dark);
    border-radius: 5px;
    background-color: var(--color-dark);
    color: var(--color-bg-light);
    cursor: pointer;
    transition:
      background-color 0.3s ease,
      color 0.3s ease;
  }

  .btn-solid:hover {
    background-color: transparent;
    border: 2px solid var(--color-dark);
    color: var(--color-dark);
  }
</style>
